@import 'reset.css';

:root {
    /* Color */
    --white-color: #fff; 
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --gray-dark-color: #909090;
    --grey-light-color: #e0e0e0;
  
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }