.basket_style1 {
    display: flex;
    padding-top: 5px;
    list-style-type: none;
    align-items: flex-start;
}

.basket_style1>li {
    text-align: center;
    height: 30px;
}

.basket_style1>li:nth-child(1) {
    width: 300px;
}

.basket_style1>li:nth-child(2) {
    width: 70px;
}

.basket_style1>li:nth-child(3) {
    width: 100px;
}

.basket_style1>li:nth-child(4) {
    width: 100px;
}

.basket_style1>li:nth-child(5) {
    width: 50px;
}

.basket_style2 {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
}

.basket_style2>li img {
    width: 50px;
    height: 50px;
}

.basket_style2>li {
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.basket_style2>li>a {
    display: block;
    width: 50px;
    text-align: center;
}

.basket_style2>li:nth-child(1) {
    padding-left: 10px;
    padding-top: 0px;
    width: 50px;
}

.basket_style2>li:nth-child(2) {
    width: 250px;
}

.basket_style2>li:nth-child(3) {
    width: 70px;
}

.basket_style2>li:nth-child(4) {
    width: 100px;
}

.basket_style2>li:nth-child(5) {
    width: 100px;
}

.basket_style1>li:nth-child(6) {
    width: 50px;
}
#basket_price{
    text-align: right;
    font-size: 1.2em;
    padding-right: 10px;
}
#btnorder > a{
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 70px;
    border: 1px solid black;
    padding-top: 15px;
    font-size: 1.7em;
    text-align: center;
}
