/* SWIPER */

:root {
    --swiper-theme-color: #313cad;
}

* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

section .inner {
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

section sub {
    font-weight: 100;
    font-size: 14px;
    color: gray;
}

section article>.inner>h2 {
    color: #21286A;
    text-align: center;
    margin-bottom: 1vw;
}

section article {
    margin-top: 2vw;
}

section a {
    text-decoration: none;
    color: black;
}

/*메인 슬라이드*/
article>.inner>h2{
    font-size:24px;
}
section .big-slide {
    height: 54vh;
}

section .big-slide>.swiper-slide {
    display: block;
    height: 50vh;
    overflow: hidden;
}

section .big-slide>.swiper-slide>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

section .swiper-slide {
    width: 100%;
}

section .swiper-button-next {
    background: none;
}

section .small-slide>div {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    width: 100%;
    height: 360px;
}

section .swiper-container-s {
    width: 100%;
    height: 400px;
}

/* 슬라이드 버튼 수정  < > */

section .swiper-button-next:after, section .swiper-button-prev:after {
    text-shadow: 0 0 5px black;
    color: white;
}

/* 크기 줄어들면 버튼 오류 떠서 수정 하는 미디어 쿼리 */

@media screen and (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

/*제목 박스*/

section .namebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 12px;
}

section .namebox>a {
    color: rgba(0, 0, 0, 0.685);
}

section .namebox>a:hover {
    color: black;
}

section .namebox>.fff {
    color: #fff;
}

section .namebox>.fff:hover {
    color: #fff;
}

/* 벨지안 오리진 광고 */

section .origin {
    margin-top: 24px;
    width: 100%;
    height: 30vh;
    display: flex;
}

section .origin>a {
    display: block;
    /*border: 1px solid black;*/
    height: 100%;
}

section .origin>a:nth-child(1) {
    width: 50%;
}

section .origin>a>img {
    width: 100%;
    height: 100%;
}

section .origin>a:nth-child(2), section .origin>a:nth-child(3) {
    width: 25%;
}

/* 영상 이벤트 광고*/

section .sale {
    width: 100%;
    height: 700px;
    background: url("/image/event/health.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

section .sale .inner>img {
    width: 80%;
    margin-left: 10%;
}

section .opac {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
}

section .sale>.opac>.inner {
    color: #fff;
}

section .bestItem {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

section .bestItem>iframe {
    border: 5px solid #fff;
    box-sizing: border-box;
    width: 50%;
}

section .bestItem__item {
    width: 50%;
    background-color: #fff;
    display: flex;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    color: black;
    overflow: hidden;
    cursor: pointer;
}

section .bestItem__item>a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    transition: 0.3s;
    display: block;
    color: #fff;
}

/* 1024px 이하부터 display none */

section .itempay p {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section .bestItem__item>div {
    font-size: 16px
}

section .bestItem__item:hover .itempay {
    left: 0;
}

section .bestItem__item img {
    width: 50%;
}

section .bestItem__item h2>span {
    font-size: 40px;
    color: #313cad;
    font-weight: bolder;
}

section .bestItem__item del {
    font-size: 1vw;
    color: gray;
}

section article .inner {
    padding-top: 12px;
    padding-bottom: 96px;
}

section .sale .inner p:nth-child(1) {
    padding-bottom: 30px;
}

/*결제 이벤트 광고*/

section .eventpay>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 72px;
}

section .eventpay a {
    display: inline-block;
    width: 50%;
    height: 120px;
}

section .eventpay a img {
    width: 100%;
    height: 100%;
}

section .eventpay .namebox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section .eventpay .namebox>a {
    width: 100px;
    height: 30px;
    text-align: right;
}

/* 공지/상담 박스 */

section .customerbox>.inner {
    display: flex;
    flex-wrap: wrap;
}

section .customerbox >div {
    box-sizing: border-box;
    border:1px solid #00000030;
}

section .customerbox>.inner>div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

/*공지사항*/

section .customerbox h2 {
    font-size: 24px;
    width: 100%;
    height: 30px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: #21286A;
}

section .callcenter>img {
    width: 36%;
    margin-left: 32%;
    margin-top: 12%;
}

section .callcenter>h1, section .callcenter>p {
    width: 100%;
    text-align: center;
    color: #313baddc;
}
.customerbox .inner{
    padding: 0;
    padding-bottom: 30px;
}
section .callcenter>h1 {
    font-size: 48px;
    font-weight: bold;
    color: #313cad;
}

/* 사이드 편의성 */

section .side {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(520px, 0);
    width: 100px;
    box-sizing: border-box;
    z-index: 999;
}

section .side>.topmove {
    display: block;
    width: 50px;
    height: 50px;
    background: url("/mainpagee/image/topmove.png");
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    section .inner {
        width: 100%;
    }
    /*고객센터*/
    section .customerbox>.inner>div {
        width: 100%;
    }
    /*메인 슬라이드 */
    section .big-slide {
        height: 40vh;
    }
    section .big-slide>.swiper-slide {
        height: 36vh;
    }
    section .big-slide>.swiper-slide>img {
        height: 100%;
        width: auto;
    }
    /* 서브 슬라이드 */
    section .small-slide>div {
        height: 34vw;
    }
    section .swiper-container-s {
        width: 100%;
        height: 40vw;
    }
    /* 팁 광고 상품 hover 제거*/
    section .bestItem__item>a {
        display: none;
    }
    /* 팁 광고 */
    section .bestItem__item>div {
        font-size: 14px
    }
    section .bestItem {
        height: 288px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    /*메인 슬라이드 */
    section .big-slide {
        height: 28vh;
    }
    section .big-slide>.swiper-slide {
        height: 24vh;
    }
    /* 벨지안 오리진 광고 */
    section .origin {
        margin-top: 24px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 50vw;
    }
    section .origin>a {
        display: block;
        height: 50vw;
    }
    section .origin>a:nth-child(1) {
        width: 100%;
    }
    section .origin>a:nth-child(2), section .origin>a:nth-child(3) {
        display: none;
    }
    /*팁 광고 */
    section .bestItem>iframe {
        width: 100%;
        height: 50%;
    }
    section .bestItem__item {
        width: 100%;
        height: 50%;
    }
    section .bestItem {
        height: 420px;
    }
    section .sale {
        height: 100vh;
    }
    /*결제 이벤트 광고*/
    section .eventpay a {
        width: 100%;
        height: 20vw;
    }
    section .eventpay a:nth-child(1) {
        display: none;
    }
}