
.pick_style1 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
   background-color: #00000010;
   height: 35px;
   padding: 5px;
   margin: 5px;
}

.pick_style1 li {
    text-align: center;

}

.pick_style1>li:nth-child(1) {
    width: 300px;
}

.pick_style1>li:nth-child(2) {
    width: 100px;
}

.pick_style1>li:nth-child(3) {
    width: 100px;
}

.pick_style2 {
    display: flex;
    list-style-type: none;
    height: 70px;
    border:1px solid #00000030;
   margin: 5px;
   justify-content: space-between;
}
.pick_style2:hover{
    
    border:1px solid #000000;
}
.pick_style2 li img {
    height: 58px;
}

.pick_style2>li {
    text-align: center;
    
    padding-top: 20px;
    padding-right: 15px;
}

.pick_style2>li:nth-child(1) {
    padding-top: 5px;
    padding-left: 5px;
}  


.pick_style2>li:nth-child(2) {
    width: 150px;
}

.pick_style2>li:nth-child(3) {
    width: 100px;
}

.pick_style2>li:nth-child(4) {
    width: 100px;
}

.pick_style2>li:nth-child(5) {
    width: 50px;
}

