@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap';



#container {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR',sans-serif;}

section {
    margin: 0 auto;
    width: 1024px; 
    height: 100%;
    padding: 10px;
    background-color: azure;
    }

.pinfo {
    display: flex;
    flex-direction: row;
   
}

.pinfo__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}

.pinfo__img>img {
    
    max-height: 500px; 
}

=======
}

.pinfo__img>img {
    
    max-height: 500px; 
}

>>>>>>> f35a68d35cf0307c189f1e8c88bac15c6c282942

.pinfo__info {
    width: 50%;
}

.box {
    background-color: white;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: 20px;
    text-align: right;
}

.pabout {
    margin-top: 60px;
    margin-bottom: 40px;
}

.pabout__tabs {
    display: flex;
    flex-direction: row; /*div가 아니여도 적용된다. 모든 요소 다 되는 듯*/
    justify-content: space-around;
    cursor: pointer;
    
}

.tabs__link {
    padding: 20px 40px;
}

.tabs__link.current {
    background: white;
}



.tabs__content {
    display: none;
        background: white;
        padding: 12px;
}

.tabs__content.current {
    display: inherit;
}

.question__flex1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* direction으로 먼저 설정하고 justify-content를 실행한다*/
}

.flex1__write {
    background-color: white;
    padding: 10px 20px;
    
}

.flex1__write>a {
    text-decoration: none;
    color: black;
}

.content__first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}

.content__second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.aa {
    width: fit-content;
    margin: 0 auto;
}

.question__list {
    padding: 10px;
}

.question__list>a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
}
<<<<<<< HEAD
=======


>>>>>>> f35a68d35cf0307c189f1e8c88bac15c6c282942
