@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap';



#container {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR',sans-serif;}

section {
    margin: 0 auto;
    width: 1024px; 
    height: 100%;
    padding: 10px;
    background-color: azure;
    }

section>h2 {
    margin-bottom: 50px;
    font-size: 2em;
}

.section__inner>h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.box{
    background-color: white;
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    line-height: 2em;
    margin-bottom: 50px;
}

.inner__info table {
    width: 100%;
    
}

.inner__info table td {
    padding: 10px;
}

.info__line {
    font-weight: bold;
    border-bottom: 2px solid #E5E5E5;
}




.inner__finalpay {

    display: flex;
    flex-direction: row;
   
    
}

.finalpay__one {
    width: 50%;
}

.finalpay__two {
    width: 40%;
    border: 1px solid black;
    padding: 20px;
}

.two__board {
    width: 100%;
    padding: 20px;
   
}
.two__board td {
    padding: 5px;
}
.board__third {
    border-bottom: 1px solid black;
    
}

.inner__send>form>ul{
    display: flex;
    flex-direction: row;
}

.inner__send>form>ul>li {
    margin: 10px;
}

.inner__finish {
    display: flex;
    flex-direction: row;
}

.finish__one {
   width: 50%;
}

.finish__one>ul {
    display: flex;
    flex-direction: row;
}

.finish__one>ul>li {
    margin: 5px;
}

.finish__two {
    width: 50%;
    background: black;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.finish__two>table {
    width: 100%;
    
}

#result {
    padding: 20px;
    background: #4200A9;
    height: auto;
    margin: 0 auto;
    width : 20%;
    color: white;
    font-size: 3em;
    text-align: center;
   
    cursor: pointer;
}