@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap';

#board_list {
    width: 100%;
    
}

#board_list>tbody>tr:nth-child(1) {
    background: black;
    color: wheat;
    text-align: center;
    
}

#board_list td {
    padding: 5px 15px;
}


#page_num {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    
}


#view_content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#view_content>li {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

#view_content>li:nth-child(1) {
     background: black;
     color: white;
}

a {
    text-decoration: underline !important;
    cursor: pointer;
}